<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherToday Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WeatherToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WeatherWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA060EBB1A1C041000C7E93A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA060ECC1A1C041000C7E93A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA5DC1DE19D3DC96003F0AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA5DC1F719D3DC96003F0AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA5DC20B19D3DCB1003F0AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
